#
.project
*.log
*.orig
.idea/
*.dmp
*.7z
*.map
.tags
.tags_sorted_by_file
.codio
.settings
.c9
config.js
bundle.js

*.module-cache*
node_modules
style.css
static/assets/css/*.css
static/assets/js/*.js
