#
.project
*.log
*.sublime-project
*.sublime-workspace
*.orig
.idea/
*.dmp
*.7z
*.map
.tags
.tags_sorted_by_file
.codio
.settings
main.js
.c9
config.js

*.module-cache*
node_modules
style.css
static/assets/css/*.css
static/assets/js/*.js
