.test {
  color: #DDDDDD;
}

.container {
  text-align: center;
}

.bg-primary {
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.comment-box {
  text-align: left;
  display: inline-block;
}

.comment-list {
  margin-top: 20px;
}
