.input-group {
  margin: 20px 0px;
}

td, th {
  /* adding !important to make it work with bootstrap */
  vertical-align: middle !important;
  text-align: center !important;
}

/* selecting the first column in our table */
td:first-of-type {
  height: 200px;
  width: 250px;
}
