.header .active {
  font-weight: 900; }

.image-preview {
  display: inline-block;
  position: relative; }
  .image-preview .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: .5;
    color: white; }
  .image-preview img {
    height: 200px;
    width: 200px;
    display: inline-block; }
  .image-preview video {
    height: 200px;
    width: 200px;
    vertical-align: middle;
    background-color: black; }

.black {
  color: black; }

.topic {
  text-align: center; }
